.header{
    width: 1500px;
height: 700px;
background-color: rgb(255, 255, 255);
border: 2px solid rgb(255, 255, 255);
padding: 1px;
}


.cuadradosuperior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 1490px;
    height: 100px;
    }
   
.texto {
   display: center;
    justify-content: center;
    text-align:center;
    align-items: center;
    color: white;
    font-size: 30px;
position: absolute;
left: 600px;

}


    .cuadradoizquierdo {
        width: 200px; 
        height: 500px; 
        background-color: rgb(50, 30, 94); 
        position: absolute;
        left: 6px; 
        top: 106px; 
}


.Textooo {
    color: white;
    font-size:22px;
    }

.cuadradoabajo{
   
  
    background-color: rgb(0, 0, 0);
    width: 1490px;
    height: 100px;
    position: absolute;
    left: 6px;
    top: 600px;

    }

    .texto2 {
        left: 210px;
        top: 115px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        position: absolute;
        }
    
        .Textooo2 {
            color: white;
            font-size:20px;
            align-items: center;
            position: absolute;
            left: 650px;
            top: 25px;
            }

            .Cuadradomedio {
                width: 400px; 
                height: 200px; 
                background-color: rgb(139, 134, 149); 
                position: absolute;
                left: 210px; 
                top: 150px;}
.img    
 {
  width: 400px;
  height: 200px;
  position: absolute;
      left: 210px;
          top: 150px;
                }

                .Cuadro1{
                    border: 1px solid black;
                    width: 600px;
                    height: 70px;
                    position: absolute;
                    left: 210px;
                    top: 360px;
                }



                .Cuadro2{
                    border: 1px solid black;
                    width: 600px;
                    height: 70px;
                    position: absolute;
                    left: 210px;
                    top: 440px;
                }



                .Cuadro3{
                    border: 1px solid black;
                    width: 600px;
                    height: 70px;
                    position: absolute;
                    left: 210px;
                    top: 520px;
                }


.Textozzz{
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    left: 210px;
    top: 360px;
    }

.Textozzz2{
        color: rgb(0, 0, 0);
        font-size: 20px;
        position: absolute;
        left: 210px;
        top: 440px;
        }

.Textozzz3{
            color: rgb(0, 0, 0);
            font-size: 20px;
            position: absolute;
            left: 210px;
            top: 520px;
            }

.Textozzz4{
                color: rgb(0, 0, 0);
                font-size: 20px;
                position: absolute;
                left: 210px;
                top: 380px;
                }           
.Textozzz5{
                    color: rgb(0, 0, 0);
                    font-size: 20px;
                    position: absolute;
                    left: 210px;
                    top: 460px;
                    }           
    .Textozzz6{
                        color: rgb(0, 0, 0);
                        font-size: 20px;
                        position: absolute;
                        left: 210px;
                        top: 540px;
                        }           

            